$TxtColor: #6b717f;
$TitleColor: #BF4080;
$CodeColor: #8C8C8C;
$Red: red;
$Green: green;
$Orange: orange;
$White: #fff;
$Black: #000;

$colors: #FF5733, #FFA933, #FFD733, #A5FF33, #33FFC2, #337CFF;


$general-padding: 20px;
$footer-h3-padding: $general-padding * 2;